/*
Name: Rohan Mallu
Date Created: September 10th 2024
File: styles.css
GUI Assignment: Creating Your First Web Page
Description: This is the page containing styling information for the website
*/

/*Center all titles and subtitles*/
h1{
    text-align: center;
}

h2{
    text-align: center;
}

/*Style the table*/
table.center{
    margin-left: auto;
    margin-right: auto;
}

table, th, td {
    border: 1px solid;
}

/*Center all images with the class "center"*/
img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/*Set the background color of all .html files to azure*/
body {
    background-color: azure;
}

